*{
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
	--color-white:#FFFFFF;
	--color-turquoise: #0e7c86; 
	--color-black:#333333;
	--color-grey: #666666;
}

main section:first-of-type{
    border: 1px solid;
    border-color: var(--color-grey);
    border-radius: 10px;
}

/* main a{
    color: var(--color-white);
    background-color: var(--color-turquoise);
} */

/* How to create a horizontal scrolling menu. (z.d.). https://www.w3schools.com/howto/howto_css_menu_horizontal_scroll.asp */
main section img { 
    width: 10em; 
    margin-left: 0.5em;
    margin-bottom: 1em; 
} 
  
section ul { 
    overflow: auto; 
    white-space: nowrap; 
    margin: 1em; 
    padding: 0; 
    scrollbar-width: none;  /* hidden Firefox */  
    scrollbar-height: none;  /* hidden Firefox */
} 

/*How to hide scrollbars with CSS. (z.d.). https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp*/
/*hidden google*/
ul::-webkit-scrollbar {
    display: none;
  }
  
section ul li { 
    display: inline-block; 
} 