@font-face {
    font-family: 'Poppins';
    font-style: normal;
    src: url("https://fonts.googleapis.com/css2?family=Expletus+Sans&family=Montserrat:wght@100&family=Podkova&family=Poppins:wght@300&family=Saira+Condensed:wght@700&display=swap") format('url');
}


*, *::after, *::before {
  box-sizing:border-box;  
  font-family: 'Poppins', sans-serif;
}

:root {
	--color-white:#FFFFFF;
	--color-turquoise: #0e7c86; 
	--color-black:#333333;
	--color-grey: #666666;
}

main{
	display: grid;
	gap: 1em;
	grid-template-columns: 1fr ;
	margin: 1em;
}

section{
	padding: 1em;
}

h1{
	color: var(--color-turquoise);
	margin: 0;
	padding: 0;
	font-size: 20px;
}

h2{
	color: var(--color-turquoise);
	margin: 0;
	padding:0;
	font-size: 16px ;

}

h3{
	color: var(--color-black);
	margin: 0;
	padding:0;
	font-size: 16px;
}

p{
	color: var(--color-black);
	margin: 0;
	padding:0;
	font-size: 14px;
}


button{
	color: var(--color-white);
	background-color: var(--color-turquoise);
	border: none;
	border-radius: 25px;
}

footer ul{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	
} 

/*li + li zorg ervoor dat de eerste li geen lijne heeft, next-sibling*/
footer ul li + li{
	border-left: solid 1px black;
}

footer ul a{
	display: block;
	padding: .5em 1em;
}